/* -------------------------------------------------------------------- */
/* ---------------------- Code CSS du site Booki ---------------------- */
/* -------------------------------------------------------------------- */

/* ---- Marges latérales ----*/
.container{
    max-width: 1400px;
    width: 98%;
    margin: 0 auto;
}

/* ------ Mise en forme général ------*/
body{
    font-family: 'Raleway', Impact, "Arial Black", Arial, Verdana, sans-serif;
    background-color: rgba(255, 255, 255, 1);
}

/* ----- Mise en forme des titres ------*/
h1{
    font-weight: 700;
    font-size: 22px;
}
h2{
    font-weight: 700;
    font-size: 18px;
}
h3{
    font-weight: 700;
    font-size: 16px;
}

/* ------ Header et menu de navigation ------*/
.header{
    display: flex;
    justify-content: space-between;
}
.sanspuces{
    list-style-type: none;
}
.navigation1{
    display: flex;
    flex-direction: row;
}
.navigation2{
    margin-right: 50px;
    padding-top: 46px;
}
a.passouligne:link{
    text-decoration: none;
    color: black;
}
a.passouligne:visited{
    color: inherit;
}
.navigation2:hover{
    color: #0065FC;
    font-weight: 500;
    border-top: 2px solid #0065FC;
}
.logoheader{
    margin-top: 44px;
}


/* ------ Barre de recherche ------*/
.barrederecherche{
    display: flex;
    flex-direction: row;
}
.gpslogo{
    border: 1px solid #0065FC;
    border-radius: 15px 0px 0px 15px;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 16px;
    padding-bottom: 15px;
}
.formulairerecherche{
    height: 49px;
    font-size: 18px;
    font-weight: 700;
    width: 200px;
}