/* -------------------------------------------------------------------- */
/* ---------------------- Code CSS du site Booki ---------------------- */
/* -------------------------------------------------------------------- */

/* ---- Marges latérales ----*/

.container{
    max-width: 1400px;
    width: 98%;
    margin: 0 auto;
}

/* ------ Mise en forme général ------*/

body{
    font-family: 'Raleway', Impact, "Arial Black", Arial, Verdana, sans-serif;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 0px;
    padding-top: 0px;
}
.herbergpopulaires{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hebergtaille{
    max-width: 65%;
}
.poputaille{
    max-width: 35%;
}
.ecartementfooter{
    margin-bottom: 10px;
}

/* ----- Mise en forme des titres et génériques ------*/

h1{
    font-weight: 700;
    font-size: 22px;
}
h2{
    font-weight: 700;
    font-size: 22px;
}
h3{
    font-weight: 700;
    font-size: 18px;
}
.engras{
    font-weight: 600;
}
.enbleu{
    color: #0065FC;
}

/* ------ Header et menu de navigation ------*/

.header{
    display: flex;
    justify-content: space-between;
}
.sanspuces{
    list-style-type: none;
}
.navigation1{
    display: flex;
    flex-flow: wrap row;
}
.navigation2{
    margin-right: 50px;
    padding-top: 46px;
}
a.passouligne{
    text-decoration: none;
    color: black;
}
a.passouligne:visited{
    color: inherit;
    font-weight: inherit;
}
.navigation2:hover{
    color: #0065FC;
    font-weight: 500;
    border-top: 2px solid #0065FC;
}
.logoheader{
    margin-top: 44px;
}

/* ------ Barre de recherche ------*/

.barrederecherche{
    display: flex;
    flex-direction: row;
}
.gpslogo{
    border: 1px solid #D9D9D9;
    border-radius: 15px 0px 0px 15px;
    background-color: #D9D9D9;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 16px;
    padding-bottom: 15px;
    margin-bottom: 2em;
}
.formulairerecherche{
    height: 52px;
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    border: 1px solid #D9D9D9;
    float: left;
    padding-left: 1em;
}
.formulairerecherche:focus{
    outline: none;
}
.boutonrecherche{
    height: 52px;
    width: 132px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    color: white;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

/* ------ Les différents filtres ------*/

.alignementligne{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.motfiltres{
    display: flex;
    align-items: center;
    margin-right: 2em;
    margin-bottom: 2em;
}
.filtres{
    display: flex;
    flex-flow: wrap row;
    margin-right: 2em;
    align-items: center;
    border: solid 2px #D9D9D9;
    border-radius: 35px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 2em;
}
.logosfiltres{
    margin-right: 10px;
    color: #0065FC;
    font-size: x-large;
}
.filtres:hover{
    background-color: #DEEBFF;
}
.informationsnombre{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.infoslogo{
    color: #0065FC;
    border: solid 1px #D9D9D9;
    border-radius: 50%;
    padding: 10px 15px 10px 15px;
    margin-right: 11px;
    font-size: small;
}

/* ------ La partie Hébergements ------*/

.hebergementcontour{
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    background-color: #D9D9D9;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 22px;
    padding-bottom: 14px;
    max-width: 100%;
    margin-top: 10px;
    margin-right: 20px;
}
.cartealigne{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
}
.card01{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
    width: 236px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.formeimage01{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 110px;
    object-fit: cover;
}
.cardcontainer{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.nomdulieu{
    margin-top: 3px;
    margin-bottom: 8px;
    font-weight: 700;
}
.prixdulieu{
    margin-top: 3px;
    margin-bottom: 9px;
    font-size: 14px;
}
.etoiledulieupleine{
    margin-top: 3px;
    margin-bottom: 3px;
    color: #0065FC;
}
.etoiledulieuvide{
    color: #F2F2F2;
}
.afficherplus{
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 46px;
}

/* ------ La partie les plus populaires ------*/

.lespluspopulairescontour{
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    background-color: #D9D9D9;
    padding-left: 37px;
    margin-left: 20px;
    padding-top: 22px;
    padding-right: 40px;
    margin-bottom: 1px;
    max-width: 100%;
    margin-top: 10px;
}
.cartecolonne{
    display: flex;
    flex-direction: column;
}
.lespluslogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card02{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 34px;
    width: 343px;
    display: flex;
    flex-direction: row;
}
.formeimage02{
    border-radius: 15px 0px 0px 15px;
    width: 137px;
    height: 144px;
    object-fit: cover;
}
.cardcontainer02{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ------ Les activités à Marseille ------*/

.activitesaligne{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nomdulieu2{
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: 700;
}
.card03{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 34px;
    width: 302px;
    display: flex;
    flex-direction: column;
}
.cardcontainer03{
    margin-left: 10px;
    margin-bottom: 10px;
}
.formeimage03{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 389px;
    object-fit: cover;
}

/* ------ Le footer pour finir------*/

.footer3colonnes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #D9D9D9;
    padding-top: 30px;
    padding-bottom: 15px;
    height: 180px;
}
.apropos{
    display: flex;
    flex-direction: column;
}
.noshebergements{
    display: flex;
    flex-direction: column;
}
.assistance{
    display: flex;
    flex-direction: column;
}
.paddingpuces{
    padding-left: 0px;
}